@model Movie

@{
    ViewData["Title"] = "Movie Details";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="@Model.ImageURL" alt="@Model.Name" class="img-fluid rounded shadow-sm" />
        </div>
        <div class="col-md-6">
            <h2 class="display-4">@Model.Name</h2>
            <p class="lead"><b>Description:</b> @Model.Description</p>
            <p><b>Cinema:</b> @Model.Name</p> <!-- Assuming Cinema is a navigation property and you want to display its name -->
            <p><b>Category:</b> @Model.MovieCategory</p>
            <p><b>Start Date:</b> @Model.StartDate.ToString("dd MMM yyyy")</p>
            <p><b>End Date:</b> @Model.EndDate.ToString("dd MMM yyyy")</p>
            <p>
                <b>Status:</b>
                @if (DateTime.Now >= Model.StartDate && DateTime.Now <= Model.EndDate)
                {
                    <span class="badge bg-success text-white">AVAILABLE</span>
                }
                else if (DateTime.Now > Model.EndDate)
                {
                    <span class="badge bg-danger text-white">EXPIRED</span>
                }
                else
                {
                    <span class="badge bg-primary text-white">UPCOMING</span>
                }
            </p>
            <p><b>Price:</b> @Model.Price.ToString("c")</p>
            <div class="d-flex justify-content-start mt-4">
                <form asp-action="Create" asp-controller="CartMovie" method="post" class="d-inline">
                                <input type="hidden" name="MovieId" value="@Model.Id" />
                                <button type="submit" class="btn btn-success text-white m-1 @(DateTime.Now > Model.EndDate ? "disabled" : "")">
                                    <i class="bi bi-cart-plus"></i> Add to cart @Model.Price.ToString("c")
                                </button>
                            </form>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <a asp-controller="Movies" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary m-1">
                        Update
                    </a>
                }
            </div>
        </div>
    </div>
</div>

<style>
    .container {
        max-width: 900px;
    }

    .lead {
        font-size: 1.25rem;
    }

    .display-4 {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
    }
</style>
