@model List<eTickets.Models.Movie>
@{
    ViewData["Title"] = "List of Movies";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 mb-3">
            <div class="card mb-3 custom-background" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-success bg-gradient bg-opacity-75">
                            <h5 class="card-title">@item.Name</h5>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="@item.ImageURL" width="100%" alt="@item.Name">
                    </div>
                    <div class="col-md-6 bg-success bg-opacity-10">
                        <div class="card-body">
                            <p class="card-text" style="max-height:50px; overflow:hidden">@item.Description</p>
                            <p class="card-text"><b>Cinema: </b>@item.CinemaId</p>
                            <p class="card-text"><b>Category: </b>@item.MovieCategory</p>
                            <p class="card-text">
                                <b>Status: </b>
                                @if (DateTime.Now >= item.StartDate && DateTime.Now <= item.EndDate)
                                {
                                    <span class="badge bg-success text-white">AVAILABLE</span>
                                }
                                else if (DateTime.Now > item.EndDate)
                                {
                                    <span class="badge bg-danger text-white">Expired</span>
                                }
                                else
                                {
                                    <span class="badge bg-primary text-white">UPCOMING</span>
                                }
                            </p>
                            <p class="card-text space-mono-regular"><b>Start Date: </b>@item.StartDate.ToString("dd MMM yy")</p>
                            <p class="card-text space-mono-regular"><b>End Date: </b>@item.EndDate.ToString("dd MMM yy")</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer">
                            <a class="btn btn-outline-primary float-right" asp-controller="Movies" asp-action="Details" asp-route-id="@item.Id">
                                <i class="bi bi-eye-fill"></i> Show Details
                            </a>
                            <form asp-action="Create" asp-controller="CartMovie" method="post" class="d-inline">
                                <input type="hidden" name="MovieId" value="@item.Id" />
                                <button type="submit" class="btn btn-success text-white @(DateTime.Now > item.EndDate ? "disabled" : "")">
                                    <i class="bi bi-cart-plus"></i> Add to cart @item.Price.ToString("c")
                                </button>
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    }
</div>
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div style="position:fixed; right:25px; bottom:25px" class="text-white">
        <a asp-controller="Movies" asp-action="Create" class="btn btn-success"><i class=" bi-plus-circle p-1"></i>Add New</a>
    </div>
}